.main {
  height: 150px;
  border-top: 2px solid rgb(0, 0, 0, 0.21);
  flex-shrink: 0;

  padding: 20px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  .input {
    width: 200px;
    height: 25px;
  }

  .label {
    text-transform: capitalize;
  }
}
